@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-lobster: var(--font-lobster);
  --font-oswald: var(--font-oswald);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #a57548;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

img {
  border-radius: 2em;
}

a {
  padding: 0em 0.5em;
  font-family: var(--font-oswald);
  transition: 150ms;
}

a:hover {
  color: #ff775f;
  text-decoration: underline;
}

h1 {
  font-size: 2em;
  color: #ffffff;
  padding: 1em 0em;
  text-align: center;
  font-family: var(--font-lobster);
  font-weight: 400;
}

.bannerCont {
    background-color: #75452f;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.container {
  color: #b3135e;
  background-color: #ededed;
  max-width: 100%;
  height: 5em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0em 5em;
  font-size: 1.2em;
}

.container ul {
  display: flex;
  justify-content: end;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ededed;
  color: #0a0a0a;
  height: 9vh;
  justify-content: center;
  font-family: var(--font-oswald);
}

.home-cont {
  height: fit-content;
  padding: 0em 0em 3em;
}

.recipes-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  max-width: 1200px;
  margin: 0 auto;
}

.recipe-card {
    color: #0a0a0a;
    font-family: var(--font-oswald);
    text-align: center;
    background-color: #ffd7a3;
    border-radius: 2em;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    gap: .7em;
    width: 13em;
    padding: 1em;
    font-size: 1.3em;
    transition: transform .3s, box-shadow .3s;
    display: flex;
    box-shadow: 0 4px 6px #2e0c094d;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}

.button-cont {
  height: fit-content;
  width: 10em;
  border: solid;
  border-color: #720e3c;
  border-radius: 3em;
  background-color: #ffffff;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  font-size: 20;
}

.button-cont:hover {
  background-color: #720e3c;
  color: #ffffff;
}

.button-cont a:hover {
  color: white;
  text-decoration: none;
}